<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connectionStrings>
        <add name="Database" providerName="System.Data.OleDb" connectionString="Provider=SQLOLEDB;Data Source=127.0.0.1;Initial Catalog=dbname;User ID=sa;Password=123456" /> 
	</connectionStrings>
	<system.net> 
        <settings> 
            <httpWebRequest useUnsafeHeaderParsing="true" />
        </settings> 
    </system.net>
	<system.web>
		<sessionState mode="InProc" timeout="600"/>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />
		<customErrors mode="Off" defaultRedirect="/Error.html" redirectMode="ResponseRewrite" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>



